GOOGLE_API_KEY=your-google-api-key-here
OPENROUTER_API_KEY=your-openrouter-api-key-here

LANGSMITH_API_KEY=your-langsmith-api-key-here
LANGSMITH_TRACING=your-langsmith-tracing-setting-here
LANGSMITH_ENDPOINT=your-langsmith-endpoint-here
LANGSMITH_PROJECT=your-langsmith-project-name-here